
.my-showcases-wrapper .table-pubstatus .published-yes{
    fill: #d9d9d9;
    stroke: #4d646a;
}


.my-showcases-wrapper .table-pubstatus .published-no{
    fill: #4d646a;
    stroke: #4d646a;
}

.my-showcases-wrapper .table-pubstatus{
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.my-showcases-wrapper .vector-circle{
    align-content: center;
    vertical-align: middle;
}

.my-showcases-wrapper .h-stack{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.my-showcases-wrapper .v-stack{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}