     .listing-container {
    position: relative;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}   
  

  .listing-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "Title Title Buttons"
      "Files Information Information"
      "Ratings Ratings Ratings";
    gap: 10px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }
  
  .listing-content .Title {
    grid-area: Title;
  }
  
  .listing-content .Buttons {
    grid-area: Buttons;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .listing-content .Files {
    grid-area: Files;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .listing-content .Information {
    grid-area: Information;
  }


  .listing-content .Information h3 {
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }
  
  .listing-content .Information p {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 10px;
  }

  .listing-page__picture {
    background-size: cover;
    background-position: center;
    max-width: 300px;
    max-height: 300px;
  }
  
  .listing-content .Ratings {
    grid-area: Ratings;
    display: flex;
    flex-direction: column;
  }
  
  .listing-content .Ratings h2 {
    margin-top: 0;
  }
  
  .listing-content .Ratings table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .listing-content .Ratings th,
  .Ratings td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .listing-content .Ratings th {
    background-color: #f2f2f2;
  }
  
  .listing-content .Ratings tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  