.notification-settings-wrapper {
    color: rgb(var(--primary-text-dark));
    padding-bottom: 2.5rem;
    padding-left: 20px;
}

.notification-settings-container {
    display: inline;

}

.toggle-item .inline-text {
    display: inline-block;
    width: 140px;
}

.toggle-item .buttons {
    display: inline;
}

.notification-settings-wrapper .error {
    color: rgb(var(--error-text));
}

.notification-settings-wrapper .success {
    color: rgb(var(--success-text));
}