.confirmation-card {
    position: absolute;
    background-color: rgb(var(--primary-background-light));
    width: 600px;
    height: 350px;
    padding: 20px 70px;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.confirmation-card .buttons {
    display: flex;
    justify-content: right;
}

.confirmation-card .info {
    color: rgb(var(--secondary-text-dark));
}

.confirmation-card .info:hover{
    color: rgb(var(--primary-text-dark));
}

.confirmation-card .error {
    color: rgb(var(--error-text));
}