.login-card {
    background-color: rgb(var(--primary-background-light));
    padding: 20px 70px;
    border: none;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
}

.login-card .input-field {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    text-align: left;
}

.login-card .input-field label {
    width: 120px;
    margin-right: 10px;
}

.login-card .input-field input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid rgb(var(--primary-text-dark));
    border-radius: 3px;
}

.login-card .buttons {
    display: flex;
    justify-content: right;
}

.login-card .info {
    color: rgb(var(--secondary-text-dark));
}

.login-card .info:hover{
    color: rgb(var(--primary-text-dark));
}

.login-card .error {
    color: rgb(var(--error-text));
}