/*
 * Code adapted from w3schools.
 * Link: https://www.w3schools.com/howto/howto_css_dropdown.asp
 */

/* Dropdown Button */
.drop-btn {
    background-color: rgb(var(--primary-button-light));
    color: rgb(var(--primary-text-dark));
    font-weight: 700;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.drop-btn:hover {
    background-color: rgb(var(--primary-button-light-hover));
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(var(--secondary-background-dark));
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content p {
    color: rgb(var(--primary-text-light));
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {background-color: rgb(255, 255, 255, 0.05);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}