<configuration>
  <appSettings>
    <add key="AccountServer" value="." />
    <add key="AccountDatabase" value="DevelopmentHell.Hubba.Users"/>
    <add key="AccountDataAccessUser" value="DevelopmentHell.Hubba.SqlUser.User"/>
    <add key="AccountDataAccessPass" value="password"/>
    <add key="UserAccountsTable" value="UserAccounts" />
    <add key="OTPTable" value="UserOTPs" />
    <add key="LoggingServer" value="." />
    <add key="LoggingDatabase" value="DevelopmentHell.Hubba.Logs"/>
    <add key="LoggingDataAccessUser" value="DevelopmentHell.Hubba.SqlUser.Logging"/>
    <add key="LoggingDataAccessPass" value="password"/>
    <add key="LogsTable" value="logs"/>
    <add key="OTPExpirationOffsetSeconds" value="5.0" />
    <add key="HubbaEmailAddress" value="noreply.Hubba@gmail.com"/>
    <add key="HubbaEmailPassword" value="gdpayrbhauajfmok"/>
    <add key="AESKey" value="gVkYp2s5v8y/B?E(H+MbQeThWmZq4t6w"/>
  </appSettings>
</configuration>