<configuration>
	<appSettings>
		<add key ="UsersConnectionString" value="Server=.;Database=DevelopmentHell.Hubba.Users;Encrypt=false;User Id=DevelopmentHell.Hubba.SqlUser.User;Password=password" />
		<add key="UserAccountsTable" value="UserAccounts" />
		<add key="UserOTPsTable" value="UserOTPs" />
		<add key="UserRolesTable" value="UserRoles" />
		<add key="RolesTable" value="Roles" />
		<add key="RoleClaimsTable" value="RoleClaims" />
		<add key="UserSessionsTable" value="UserSessions"/>
		<add key ="LogsConnectionString" value="Server=.;Database=DevelopmentHell.Hubba.Logs;Encrypt=false;User Id=DevelopmentHell.Hubba.SqlUser.Logging;Password=password" />
		<add key="LogsTable" value="logs"/>
		<add key="OTPExpirationOffsetSeconds" value="5.0" />
		<add key="HubbaEmailAddress" value="noreply.Hubba@gmail.com"/>
		<add key="HubbaEmailPassword" value="gdpayrbhauajfmok"/>
		<add key="AESKey" value="gVkYp2s5v8y/B?E(H+MbQeThWmZq4t6w"/>
	</appSettings>
</configuration>