
html,
body,
body > div { /* the react root */
  margin: 0;
  padding: 0;
  height: 100%;
}

h2 {
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 1.5em 0;
  padding: 0;
}

b { /* used for event dates/times */
  margin-right: 3px;
}

.calendar-view {
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.calendar-view-sidebar-section {
  padding: 2em;
}

.calendar-view-main {
  padding: 3em;
}

.fc { /* the calendar root */
  min-width: 500px;
  min-height: 350px;
  max-width: 1100px;
  margin: 0 auto;
}

.scheduling-view-container {
  position: relative;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.scheduling-view-container .scheduling-view-content {
  display: flex;
  padding-bottom: 2.5rem;
  flex-grow: 1;
}

.scheduling-view-container .scheduling-view-container .scheduling-view-wrapper {
  color: rgb(var(--primary-text-dark));
  text-align: center;
}

.scheduling-view-card {
  background-color: rgb(var(--primary-background-light));
  padding: 20px 20px;
  border: none;
  border-radius: 10px;
  width: 300px;
  text-align: left;
}

.scheduling-view-card .input-field {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  text-align: left;
}

.scheduling-view-card .input-field label {
  width: 150px;
  margin-right: 10px;
}

.scheduling-view-card .input-field input {
  width: 40%;
  padding: 5px 5px;
  border: 1px solid rgb(var(--primary-text-dark));
  border-radius: 3px;
  row-gap: 5px;
}

.scheduling-view-card .buttons {
  display: flex;
  justify-content: center;
}

.scheduling-view-card .info {
  color: rgb(var(--secondary-text-dark));
}

.scheduling-view-card .info:hover {
  color: rgb(var(--primary-text-dark));
}

.scheduling-view-card .error {
  color: rgb(var(--error-text));
}