.deletion-collaborator-wrapper {
    color: rgb(var(--primary-text-dark));
    text-align: left;
    padding-bottom: 2.5rem;
    padding-left: 20px;
}

.deletion-collaborator-wrapper .buttons button {
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
}

.deletion-collaborator-wrapper .error {
    color: rgb(var(--error-text));
}