.btn {
    background-color: var(--primary-button-light);
    color: var(--primary-text-dark);
    padding: 8px 10px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    border: 5px solid 
}

.btn:hover {
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.05);
}