/* Code adapted from w3schools
 * Link: https://www.w3schools.com/howto/howto_css_loader.asp
 */

.loader-wrapper {
    display: flex;
    align-items: center;
}

.loader {
    border: 0.3vw solid rgb(var(--white));
    border-top: 0.3vw solid rgb(var(--primary-button-light-hover));
    border-radius: 50%;
    animation: spin 2s linear infinite;
    width: 0.8vw;
    height: 0.8vw;
}

.loader-text {
    padding: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}