.admin-dashboard-container {
    position: relative;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

.admin-dashboard-container .admin-dashboard-content {
    display: flex;
    padding-bottom: 2.5rem;
    flex-grow: 1;
}

.admin-dashboard-container .admin-dashboard-content .admin-dashboard-wrapper {
    color: rgb(var(--primary-text-dark));
    text-align: center;
}

.admin-dashboard-container .selection-bar {
    width: 5px;
    height: 20px;
    border-radius: 3px;
    background-color: rgb(var(--primary-text-dark));
}