<configuration>
  <appSettings>
    <add key="SENDGRID_API_KEY" value="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" />
    <add key="SENDGRID_USERNAME" value="apikey" />
    <add key="COMPANY_EMAIL" value="noreply.Hubba@gmail.com" />

    <add key="UsersConnectionString" value="Server=.;Database=DevelopmentHell.Hubba.Users;Encrypt=false;User Id=DevelopmentHell.Hubba.SqlUser.User;Password=password" />
    <add key="UserAccountsTable" value="UserAccounts" />
    <add key="UserOTPsTable" value="UserOTPs" />
    <add key="UserLoginsTable" value="UserLogins"/>
    <add key="RecoveryRequestsTable" value="RecoveryRequests"/>

    <add key="NotificationsConnectionString" value="Server=.;Database=DevelopmentHell.Hubba.Notifications;Encrypt=false;User Id=DevelopmentHell.Hubba.SqlUser.Notification;Password=password" />
    <add key="UserNotificationsTable" value="UserNotifications" />
    <add key="NotificationSettingsTable" value="NotificationSettings" />  

    <add key="LogsConnectionString" value="Server=.;Database=DevelopmentHell.Hubba.Logs;Encrypt=false;User Id=DevelopmentHell.Hubba.SqlUser.Logging;Password=password" />
    <add key="LogsTable" value="Logs"/>
    <add key="OTPExpirationOffsetSeconds" value="5.0" />

    <add key="ListingProfilesConnectionString" value="Server=.;Database=DevelopmentHell.Hubba.ListingProfiles;Encrypt=false;User Id=DevelopmentHell.Hubba.SqlUser.ListingProfile;Password=password" />
    <add key="ListingsTable" value="Listings" />
    <add key="ListingAvailabilitiesTable" value="ListingAvailabilities" />
	  
    <add key="SchedulingsConnectionString" value="Server=.;Database=DevelopmentHell.Hubba.ListingProfiles;Encrypt=false;User Id=DevelopmentHell.Hubba.SqlUser.Scheduling;Password=password" />
    <add key="BookingStatusesTable" value="BookingStatuses"/>
    <add key="BookingsTable" value="Bookings"/>
    <add key="BookedTimeFramesTable" value="BookedTimeFrames"/>

    <add key="UserHashKey" value="Dq9KrwfkHbi9WwndOPKV" />
    <add key="JwtKey" value="Dq9KrwfkHbi9WwndOPKV" />
    <add key="CryptographyKey" value="gVkYp2s5v8y/B?E(H+MbQeThWmZq4t6w" />
    </appSettings>
</configuration>