:root {
    --white: 255, 255, 255;
    --primary-background-light: 224, 242, 234;
    --primary-background-dark: 77, 100, 106;
    --secondary-background-dark: 50, 50, 50;
    --secondary-background-light: 246, 252, 251;
    --primary-text-light: 241, 252, 250;
    --secondary-text-light: 192, 203, 205;
    --primary-text-dark: 77, 100, 106;
    --secondary-text-dark: 125, 125, 125;
    --error-text: 252, 125, 125;
    --success-text: 154, 197, 151;
    --primary-button-light: 224, 242, 234;
    --primary-button-dark: 77, 100, 106;
    --primary-button-light-hover: 203, 222, 213;
}