:root {
    --white: rgb(255, 255, 255);
    --primary-background-light: rgb(224, 242, 234);
    --primary-background-dark: rgb(77, 100, 106);
    --secondary-background-dark: rgb(50, 50, 50);
    --secondary-background-light: rgb(246, 252, 251);
    --primary-text-light: rgb(241, 252, 250);
    --secondary-text-light: rgb(192, 203, 205);
    --primary-text-dark: rgb(77, 100, 106);
    --secondary-text-dark: rgb(125, 125, 125);
    --error-text: rgb(252, 125, 125);
    --primary-button-light: rgb(224, 242, 234);
    --primary-button-dark: rgb(77, 100, 106);
    --primary-button-light-hover: rgb(203, 222, 213);
}