.nav-guest {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(var(--primary-background-dark));
    box-sizing: border-box;
    margin: 0;
    padding: 30px 5%;
    height: 100px;
}

.nav-guest .nav-links {
    list-style: none;
    color: rgb(var(--primary-text-light));
    cursor: pointer;
}

.nav-guest .nav-links li {
    display: inline-block;
    position: relative;
    padding: 0px 20px;
}

.nav-guest .nav-links li:hover {
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.nav-guest .logo {
    color: rgb(var(--white));
    font-size: 30px;
    font-weight: 700;
}

.nav-guest .logo:hover {
    color: rgb(var(--primary-text-light));
}

.nav-guest .divider {
    width: 15px;
    height: auto;
    display: inline-block;
}