.login-container {
    position: relative;
    display: flex;
    flex-flow: column;
    flex-grow: 1
}

.login-container .login-content {
    display: flex;
    padding-bottom: 2.5rem;
    flex-grow: 1;
}

.login-container .login-content .login-wrapper {
    color: var(--primary-text-dark);
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.login-card {
    background-color: var(--primary-background-light);
    padding: 20px 70px;
    border: none;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
}

.login-card .input-field {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    text-align: left;
}

.login-card .input-field label {
    width: 120px;
    margin-right: 10px;
}

.login-card .input-field input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid var(--primary-text-dark);
    border-radius: 3px;
}

.login-card .buttons {
    display: flex;
    justify-content: right;
}

.login-card .info {
    color: var(--secondary-text-dark);
}
.login-card .info:hover{
    color: var(--primary-text-dark);
}

.login-card .error {
    color: var(--error-text);
}