.login-container {
    position: relative;
    display: flex;
    flex-flow: column;
    flex-grow: 1
}

.login-container .login-content {
    display: flex;
    padding-bottom: 2.5rem;
    flex-grow: 1;
}

.login-container .login-content .login-wrapper {
    color: rgb(var(--primary-text-dark));
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}