.opentimeslots-view-container {
  position: relative;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.opentimeslots-view-container .opentimeslots-view-content {
  display: flex;
  padding-bottom: 2.5rem;
  flex-grow: 1;
}

.opentimeslots-view-container .opentimeslots-view-content .main-wrapper {
  padding: 20px 20px;
  color: rgb(var(--primary-text-dark));
  text-align: left;
}

.main-wrapper .second-wrapper {
  display: flex;
  padding: 20px 20px;
  color: rgb(var(--primary-text-dark));
  text-align: left;
}

.main-wrapper .second-wrapper .view-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: rgb(var(--primary-text-dark));
  text-align: center;
}

.main-wrapper .second-wrapper .slots-card {
  width: 250px;
  padding-bottom: 20px;
  color: rgb(var(--primary-text-dark));
  text-align: center;
  border-width: 1px;
  border-style: dashed;
}

.main-wrapper .second-wrapper .slots-card .info {
  color: rgb(var(--secondary-text-dark));
  justify-content: center;
}

.main-wrapper .second-wrapper .slots-card .error {
  color: rgb(var(--error-text));
  justify-content: center;
}

.main-wrapper .second-wrapper .slots-card .halfdaywrapper {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  justify-content: center;
}

.main-wrapper .second-wrapper .slots-card .halfdaywrapper .halfday {
  display: flex;
  flex-flow: column;
  padding-bottom: 10px
}

.main-wrapper .second-wrapper .slots-card .halfdaywrapper .halfday .buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
}
.opentimeslots-sidebar-wrapper {
  background-color: rgb(var(--primary-background-light));
  border: none;
  padding-bottom: 20px;
}
.opentimeslots-sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  border: none;
  width: 300px;
  height: fit-content;
  text-align: center;
  color: rgb(var(--primary-text-dark));
  font-weight: 600;
}

.opentimeslots-sidebar .buttons {
  width: 100%;
  justify-content: center;
}

.opentimeslots-sidebar .info {
  color: rgb(var(--secondary-text-dark));
  justify-content: center;
}

.opentimeslots-sidebar .error {
  color: rgb(var(--error-text));
  justify-content: center;
}

/* calendar wrapper */
.calendar {
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
}
.calendar .header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: rgb(var(--primary-text-dark));
  
  font-weight: 700;
  padding-bottom: 20px;
  justify-content: center;
}
.calendar .header .text{
  width: 220px;
  font-size: 28px;
}

.calendar .header .buttons{
  
}

.calendar .month {
  padding-bottom: 50px;
}

.calendar .month .today {
  padding-top: 20px;
  justify-content: center;
}

.calendar .month .daysofweek {
  display: flex;
  flex-flow: row;
  padding-bottom: 20px;
  justify-content: center;
}

.calendar .month .daysofweek .day {
  width: 40px;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
  justify-content: center;
}

.calendar .month .week {
  display: flex;
  padding-bottom: 3px;
}

.calendar .month .week .day {
  justify-content: center;
  padding-left: 3px;
  padding-right: 3px;
}

/* confirmation card */
.opentimeslots-view-content .confirmation-card-wrapper {
  display: flex;
  width: 100%;
  color: rgb(var(--primary-text-dark));
  justify-content: center;
  align-items: center;
}
.confirmation-card-wrapper .confirmation-card {
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: rgb(var(--primary-background-light));
  padding: 20px 70px;
  border: none;
  border-radius: 10px;
  text-align: center;
}
.confirmation-card .h1 {
  font-size: 32px;
  font-weight: 600;
  color: rgb(var(--primary-text-dark));
}
.confirmation-card .h2 {
  font-size: 18px;
  font-weight: 400;
  color: rgb(var(--primary-text-dark));
}
.details {
  display: flex;
  flex-flow: column;
  color: rgb(var(--secondary-text-dark));
  text-align: left;
  width: fit-content;
  font-size: 14px;
  padding-left: 60px;
  padding-bottom: 20px;
}
.details .info {
  padding-left: 20px;
  justify-content: center;
}
.info-bold {
  display: flex;
  flex-flow: row;
  color: rgb(var(--primary-text-dark));
  font-weight: 600;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px dotted;
}
.info-bold .info-left {
  display: flex;
  flex-flow: column;
  color: rgb(var(--secondary-text-dark));
  text-align: left;
  padding-top: 10px;
}
.info-bold .info-right {
  display: flex;
  flex-flow: column;
  color: rgb(var(--secondary-text-dark));
  text-align: right;
  padding-top: 10px;
  
}

.info-bold .block{
  width: 120px;
}

.confirmation-card .error {
  color: rgb(var(--error-text));
}
.confirmation-card .buttons {
  display: flex;
  flex-flow: row;
  gap: 20px;
  justify-content: center;
  padding-top: 20px;
}
