.view-project-showcase-container {
    position: relative;
    display: flex;
    flex-flow: column;
    flex-grow: 1
}

.view-project-showcase-container .view-project-showcase-content {
    display: flex;
    justify-content: center;
    padding-bottom: 2.5rem;
    flex-grow: 1;
}

.view-project-showcase-container .view-project-showcase-content .view-project-showcase-wrapper {
    display: flex;
    margin-top: 10vh;
    width: 70%;
    flex-direction: column;
}

.view-project-showcase-wrapper {
    color: rgb(var(--primary-text-dark));
    padding-bottom: 2.5rem;
    padding-left: 20px;
}

.view-project-showcase-wrapper .showcase-rating-text {
    margin-right: 100px;
}

.view-project-showcase-wrapper .report-button {
    margin-left: 50px;
}

.view-project-showcase-wrapper .h-stack{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    align-self:center
}

.my-showcases-wrapper .v-stack{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.view-project-showcase-wrapper .comment .owned-comment {
    margin-left: 20px;
}

.view-project-showcase-wrapper .comment .h-stack .up-vote, .down-vote {
    font-weight: bold;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 30px;
    user-select: none;
}

.view-project-showcase-wrapper .comment .vote-control .h-stack p{
    font-size: 20px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.view-project-showcase-wrapper .comment-control .comment-count-control{
    line-height: 1em;
}

.view-project-showcase-wrapper .comment-control .comment-count-control p{
    margin-left: 10px;
    cursor: pointer;
    line-height: 1em;
    user-select: none;
}

.view-project-showcase-wrapper .comment-control .comment-count-control .selected-comment-count{
    margin-left: 10px;
    cursor: pointer;
    line-height: 1em;
    user-select: none;
    color: rgb(var(--primary-text-dark));
}

.view-project-showcase-wrapper .comment-control .comment-page-control{
    line-height: 1em;
}

.view-project-showcase-wrapper .comment-control .comment-page-control{
    margin-left: 10px;
    margin: 0;
    padding: 0;
    line-height: 1em;
    cursor: pointer;
    user-select: none;
}