.recovery-container {
    position: relative;
    min-height: 100vh;
}

.recovery-wrapper {
    color: var(--primary-text-dark);
    padding-bottom: 2.5rem;
}

.recovery-card {
    background-color: var(--primary-background-light);
    padding: 20px 70px;
    border: none;
    border-radius: 10px;
    width: fit-content;
    margin: 200px auto;
    text-align: center;
}

.recovery-card .input-field {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    text-align: left;
}

.recovery-card .input-field label {
    width: 250px;
    margin-right: 10px;
}

.recovery-card .input-field input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid var(--primary-text-dark);
    border-radius: 3px;
}

.recovery-card .buttons {
    display: flex;
    justify-content: right;
}

.recovery-card .info {
    color: var(--secondary-text-dark);
}

.recovery-card .error {
    color: var(--error-text);
}