
.sidebar .links {
    height: 100%;
    flex-grow: 1;
    width: 300px;
    background-color: rgb(var(--secondary-background-light));
}

.sidebar .links li {
    font-weight: 500;
    font-size: 20px;
    display: block;
    text-align: left;
    padding: 5px 10px 5px 50px;
    color: rgb(var(--primary-text-dark));
}

.sidebar .links li:hover {
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}