.delete-account-wrapper {
    color: var(--primary-text-dark);
    text-align: left;
    padding-bottom: 2.5rem;
    padding-left: 325px;
}

.delete-account-wrapper .buttons button {
    margin-top: 10px;
    margin-right: 20px;
}

.delete-account-wrapper .error {
    color: var(--error-text);
}