.footer-wrapper {
    background-color: var(--secondary-background-dark);
    width: 100%;
    height: 2.5rem;
    bottom: 0;
    position: absolute;
    color: var(--secondary-text-light);
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    display: flex;
}