.analytics-container {
    position: relative;
    min-height: 100vh;
}

.analytics-wrapper {
    color: var(--primary-text-dark);
    text-align: center;
    padding-bottom: 2.5rem;
}

.chart-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.chart-box {
    flex: 0 0 700px;
    padding: 20px;
    background: var(--primary-background-light);
    border-radius: 10px;
    text-align: center;
}